# Hidden files
.*
!.gitignore
!.flake8

# Byte / compiled / optimized
*.py[cod]
__pycache__/
*.so

# Distribution / packaging
/build/
/dist/
*.egg-info/
.eggs/
/doc/_generated

# Temporary files
*~
*.h5
*.nx5
*.hdf5
log.*
*.png
*.log
*.*.txt
*.cprof
.[^.]*
test.*
testresults
testdata
