future
numpy>=1.12
scipy>=0.17
pandas>=0.23
xlsxwriter
xlrd
openpyxl
scikit-image>=0.13
h5py
silx
fabio
pyparsing
testfixtures
matplotlib
shapely
uncertainties
pint
jsonpickle
Mako
pybind11
pyopencl
PyMca5
fisx
psutil
python-dateutil
jsonpickle
cvxopt
