future
numpy>=1.12
scipy>=0.17
pandas>=0.23
xlsxwriter
xlrd
scikit-image>=0.13
h5py
silx
fabio
pyparsing
testfixtures
matplotlib
shapely
uncertainties
pint
jsonpickle
Mako
pyopencl==2015.1; python_version < '3.6'
pyopencl==2018.1; python_version >= '3.6'
PyMca5
contextlib2; python_version < '3'
